<!-- templates/create.html -->

<!DOCTYPE html>
<html>
<head>
  <title>Create New Stock Item</title>
  <link rel="stylesheet" type="text/css" href="/assets/createstyle.css">
</head>
<body>
<h1>Create New Stock Item</h1>
<form action="/create" method="POST">
  <label for="dates">Date:</label>
  <input type="text" id="dates" name="dates" placeholder="YYYY-MM-DD"><br>
  <label for="coffeetype">Coffee Type:</label>
  <input type="text" id="coffeetype" name="coffeetype"><br>
  <label for="pack1">200g:</label>
  <input type="number" id="pack1" name="pack1"><br>
  <label for="pack2">500g:</label>
  <input type="number" id="pack2" name="pack2"><br>
  <label for="pack3">1000g:</label>
  <input type="number" id="pack3" name="pack3"><br>
  <input type="submit" value="Review">
</form>

{{ if .Review }}
<hr>
<div class ="container1">
<h2>Review</h2>
<table border="1">
  <tr>
    <th>Date</th>
    <th>Coffee Type</th>
    <th>200g</th>
    <th>500g</th>
    <th>1000g</th>
    <th>Total 200g</th>
    <th>Total 500g</th>
    <th>Total 1000g</th>
    <th>Total</th>
  </tr>
  <tr>
    <td>{{ .Review.Dates }}</td>
    <td>{{ .Review.CoffeeType }}</td>
    <td>{{ .Review.Pack1 }}</td>
    <td>{{ .Review.Pack2 }}</td>
    <td>{{ .Review.Pack3 }}</td>
    <td>{{ .Review.Amount1 }}</td>
    <td>{{ .Review.Amount2 }}</td>
    <td>{{ .Review.Amount3 }}</td>
    <td>{{ .Review.TotalAmount }}</td>
  </tr>
</table>
</div>
<form action="/create" method="POST">
  <input type="hidden" name="dates" value="{{ .Review.Dates }}">
  <input type="hidden" name="coffeetype" value="{{ .Review.CoffeeType }}">
  <input type="hidden" name="pack1" value="{{ .Review.Pack1 }}">
  <input type="hidden" name="pack2" value="{{ .Review.Pack2 }}">
  <input type="hidden" name="pack3" value="{{ .Review.Pack3 }}">
  <input type="hidden" name="amount1" value="{{ .Review.Amount1 }}">
  <input type="hidden" name="amount2" value="{{ .Review.Amount2 }}">
  <input type="hidden" name="amount3" value="{{ .Review.Amount3 }}">
  <input type="hidden" name="totalamount" value="{{ .Review.TotalAmount }}">
  <input type="hidden" name="final" value="true">
  <input type="submit" value="Final Submit">
</form>
{{ end }}
</body>
</html>
