<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/assets/styling.css">
    <title></title>
</head>
<body>
<h1 class="centered">Wonosantri Coffee Stock</h1>
<p><a href="/create" class="button">
    <span class="button__text">Create</span>
    <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
    </button></a></p>


<table border="1">
    <tr>
        <th>Date</th>
        <th>Coffee Type</th>
        <th>200g</th>
        <th>500g</th>
        <th>1000g</th>
        <th>Total 200g</th>
        <th>Total 500g</th>
        <th>Total 1000g</th>
        <th>Total</th>
        <th>Actions</th>
    </tr>
    {{range .}}
    <tr>
        <td>{{ .Dates.Format "2006-01-02" }}</td>
        <td>{{.CoffeeType}}</td>
        <td>{{.Pack1}}</td>
        <td>{{.Pack2}}</td>
        <td>{{.Pack3}}</td>
        <td>{{.Amount1}}</td>
        <td>{{.Amount2}}</td>
        <td>{{.Amount3}}</td>
        <td>{{.TotalAmount}}</td>
        <td>
            <form action="/update" method="GET" class="styled-form">
                <input type="hidden" name="stockid" value="{{ .ID }}">
                <button type="submit">Update</button>
            </form>

            <form action="/delete" method="POST" style="display: inline;">
                <input type="hidden" name="stockid" value="{{.ID}}">
                <button class="styled-button tooltip" type="submit">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17 5V4C17 2.89543 16.1046 2 15 2H9C7.89543 2 7 2.89543 7 4V5H4C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H5V18C5 19.6569 6.34315 21 8 21H16C17.6569 21 19 19.6569 19 18V7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H17ZM15 4H9V5H15V4ZM17 7H7V18C7 18.5523 7.44772 19 8 19H16C16.5523 19 17 18.5523 17 18V7Z" fill="white" /><path d="M9 9H11V17H9V9Z" fill="white" /><path d="M13 9H15V17H13V9Z" fill="white" /></svg>
                    <span class="tooltiptext">Delete</span>
                </button>
            </form>

            </form>

        </td>
    </tr>
    {{end}}
</table>
<a href="/summary" class="button-link">
    <button class="continue-application">
        <div>
            <div class="pencil"></div>
            <div class="folder">
                <div class="top">
                    <svg viewBox="0 0 24 27">
                        <path d="M1,0 L23,0 C23.5522847,-1.01453063e-16 24,0.44771525 24,1 L24,8.17157288 C24,8.70200585 23.7892863,9.21071368 23.4142136,9.58578644 L20.5857864,12.4142136 C20.2107137,12.7892863 20,13.2979941 20,13.8284271 L20,26 C20,26.5522847 19.5522847,27 19,27 L1,27 C0.44771525,27 6.76353751e-17,26.5522847 0,26 L0,1 C-6.76353751e-17,0.44771525 0.44771525,1.01453063e-16 1,0 Z"></path>
                    </svg>
                </div>
                <div class="paper"></div>
            </div>
        </div>
        Summary
    </button>
</a>




</body>
</html>
