<!-- templates/update.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Update Stock Item</title>
    <link rel="stylesheet" type="text/css" href="/assets/updatestyle.css">
</head>
<body>
<h1>Update Stock Item</h1>
<form action="/update" method="POST">
    <input type="hidden" name="stockid" value="{{ .StockID }}">
    <label for="dates">Date:</label>
    <input type="text" id="dates" name="dates" placeholder="YYYY-MM-DD" value="{{ .Dates }}"><br>
    <label for="coffeetype">Coffee Type:</label>
    <input type="text" id="coffeetype" name="coffeetype" value="{{ .CoffeeType }}"><br>
    <label for="pack1">Pack 1:</label>
    <input type="number" id="pack1" name="pack1" value="{{ .Pack1 }}"><br>
    <label for="pack2">Pack 2:</label>
    <input type="number" id="pack2" name="pack2" value="{{ .Pack2 }}"><br>
    <label for="pack3">Pack 3:</label>
    <input type="number" id="pack3" name="pack3" value="{{ .Pack3 }}"><br>
    <!-- Add fields for the additional attributes (amount1, amount2, amount3, totalamount) here -->
    <input type="submit" value="Update">
</form>
</body>
</html>
